.user > img{
    width: 200px;
}
.user h2{
    background: blue;
}

.product-card >img{
    width: 200px;
}
.product-card h2{
    background: yellow;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}
.wrap div {
    width: 18%;
    margin: 1px;

    background: yellow;

}




